/*--- Basic ------------------------------------------------------------------------*/

.wgo-player-main {
	font-family: Calibri, Tahoma, Arial;
	color: black;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.wgo-player-main:after {
	content: "";
	clear: both;
	display: block;
}

/*--- /Basic -----------------------------------------------------------------------*/

/*--- Regions ----------------------------------------------------------------------*/

.wgo-player-left, .wgo-player-center, .wgo-player-right  {
	float: left;
}

.wgo-player-center {
	width: 100%;
}

.wgo-player-left-wrapper, .wgo-player-right-wrapper  {
	height: 100%;
	position: relative;
}

/*--- /Regions ----------------------------------------------------------------------*/

/*--- Two columns modificatons ------------------------------------------------------*/

.wgo-twocols .wgo-player-left, .wgo-twocols  .wgo-player-right  {
	width: 30%;
}

.wgo-twocols .wgo-player-center {
	width: 70%;
}

/*--- /Two columns modificatons ------------------------------------------------------*/

/*--- Board --------------------------------------------------------------------------*/

.wgo-player-board {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wgo-board {
	background-color: rgba(150,75,0,0.33);
	margin: 0 auto;
	background-image: url("wood1.jpg");
	background-size: 100% 100%;
}

/*--- /Board --------------------------------------------------------------------------*/

/*--- Box styles ----------------------------------------------------------------------*/

.wgo-box-wrapper {
	/*background: -moz-linear-gradient(-45deg,  rgba(226,226,226,0.5) 0%, rgba(219,219,219,0.5) 50%, rgba(209,209,209,0.5) 51%, rgba(254,254,254,0.5) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(226,226,226,0.5)), color-stop(50%,rgba(219,219,219,0.5)), color-stop(51%,rgba(209,209,209,0.5)), color-stop(100%,rgba(254,254,254,0.5)));
	background: -webkit-linear-gradient(-45deg,  rgba(226,226,226,0.5) 0%,rgba(219,219,219,0.5) 50%,rgba(209,209,209,0.5) 51%,rgba(254,254,254,0.5) 100%);
	background: -o-linear-gradient(-45deg,  rgba(226,226,226,0.5) 0%,rgba(219,219,219,0.5) 50%,rgba(209,209,209,0.5) 51%,rgba(254,254,254,0.5) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(226,226,226,0.5) 0%,rgba(219,219,219,0.5) 50%,rgba(209,209,209,0.5) 51%,rgba(254,254,254,0.5) 100%);
	background: linear-gradient(135deg,  rgba(226,226,226,0.5) 0%,rgba(219,219,219,0.5) 50%,rgba(209,209,209,0.5) 51%,rgba(254,254,254,0.5) 100%);*/
	background: rgba(226,226,226,0.5);
	border: 1px solid rgba(200,200,200,0.5);
	box-sizing: border-box;
}

.wgo-box-title {
	margin: 0 10px;
	line-height: 40px;
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	overflow: hidden;
}

.wgo-box-title:hover {
	overflow: visible;
}

.wgo-box-img {
	float: right;
	padding: 10px;
	width: 20px;
}

.wgo-player-top .wgo-box-img, .wgo-player-bottom .wgo-box-img {
	float: left;
}

/*--- /Box styles ----------------------------------------------------------------------*/

/*--- Player box -----------------------------------------------------------------------*/

/*.wgo-player-name-wrapper {
	display: table;
	width: 100%;
}

.wgo-player-name-cell {
	display:table-cell; 
	vertical-align:middle;
	height: 40px;
	padding: 0 5px;
	line-height: 90%;
	padding-left: 10px;
	font-weight: bold;
	font-size: 1.3em;
}*/

.wgo-player-wrapper .wgo-box-title {
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 24px;
	padding-right: 30px;
}

.wgo-player-wrapper.wgo-black .wgo-box-title {
	background-image: url("black.svg");
}

.wgo-player-wrapper.wgo-white .wgo-box-title {
	background-image: url("white.svg");
}

.wgo-player-info {
	padding: 0px 2%;
}

.wgo-player-info-box {
	width: 29%;
	padding: 0px 1px 1px 1px;
	margin: 0 2%;
	border: 1px solid rgba(200,200,200,0.3);
	background-color: rgba(255,255,255,0.3);
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	box-sizing: border-box;
}

.wgo-player-info-title {
	font-size: 11px;
}

.wgo-player-cap {
	float:right;
}

.wgo-player-st {
	display:table-cell; 
	margin:5px;
	
}
/*
.wgo-player-name-img div {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px rgba(127, 127, 127, 0.3);
	
}

.wgo-black .wgo-player-name-img div {
	background: rgb(35,36,39);
	background: -moz-linear-gradient(-45deg,  rgba(35,36,39,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(35,36,39,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(35,36,39,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(35,36,39,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(35,36,39,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(135deg,  rgba(35,36,39,1) 0%,rgba(0,0,0,1) 100%);
}

.wgo-white .wgo-player-name-img div {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);/
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
}*/

/* right and left modifications*/

.wgo-player-left .wgo-infobox, .wgo-player-right .wgo-infobox {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 10px;
}

.wgo-player-right .wgo-player-wrapper, .wgo-player-left .wgo-player-wrapper {
	height: 85px;
	border-bottom: 0;
}

/* top and bottom modifications */

.wgo-player-top .wgo-player-info, .wgo-player-bottom .wgo-player-info {
	position: absolute;
	width: 40%;
	right: 0;
	top: 4px;
	bottom: 4px;
	overflow: hidden;
	text-align: right;
}

.wgo-player-top .wgo-player-wrapper, .wgo-player-bottom .wgo-player-wrapper {
	height: 40px;
	display: inline-block;
	width: 50%;
	margin: 0;
	position: relative;
}

.wgo-player-top .wgo-player-wrapper.wgo-black {
	border-left: 0;
}

.wgo-player-top .wgo-infobox .wgo-box-title, .wgo-player-bottom .wgo-infobox .wgo-box-title {
	position: absolute;
	right: 40%;
	background-position: left center;
	padding-left: 30px;
	padding-right: 0;
	margin: 0 5px;
	z-index: 500;
}

/*--- /Player box -----------------------------------------------------------------------*/

/*--- Comments box ----------------------------------------------------------------------*/

.wgo-comments-wrapper {
	overflow: auto;
	margin: 0 0 0 0;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

.wgo-comments-content {
	padding: 3px 5px;
	border: 1px solid rgba(200,200,200,0.3);
	background-color: rgba(255,255,255,0.3);
	border-radius: 2px;
	overflow-y: auto;
}

.wgo-comments-content p {
	font-size: 0.9em;
	margin: 0.5em 0;
}

.wgo-help { 
	background-color: rgba(236, 226, 216, 0.90);
	padding: 1px 7px;
	margin-bottom: 5px;
}

.wgo-notification { 
	background-color: rgba(16, 16, 16, 0.95);
	color: white;
	padding: 1px 7px;
	margin-bottom: 5px;
}

.wgo-commentbox .wgo-box-title {	
	background-image: url("comments.svg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 24px;
	padding-right: 30px;
}
/*
.wgo-comment-img div {
	margin-top: 3px;
	width: 16px;
	height: 10px;
	border-radius: 4px;
	border: 1px solid rgba(125,125,125,0.3);
	background-color: rgba(200,200,200,0.3);
	box-shadow: 2px 2px 0px 0px rgba(200, 200, 200, 0.3);
	font-size: 4px;
	color: rgba(125,125,125,0.3);
	padding: 2px 1px;
}*/

.wgo-comments-nick {
	color: rgba(0,0,0,0.75);
}

a.wgo-move-link { 
	text-decoration: none; 
	border-bottom:1px dotted; 
}

/* right and left modifications */

.wgo-player-right .wgo-comments-content, .wgo-player-left .wgo-comments-content {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 40px;
}

.wgo-player-right .wgo-commentbox, .wgo-player-left .wgo-commentbox {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 10px;
	top: 170px;
}

/* top and bottom modifications */

.wgo-player-top .wgo-comments-content, .wgo-player-bottom .wgo-comments-content {
	position: absolute;
	left: 40px;
	right: 0;
	top: 0;
	bottom: 0;
	
}

/* TODO: handle too long title */
.wgo-player-top .wgo-commentbox .wgo-box-title, .wgo-player-bottom .wgo-commentbox .wgo-box-title { 
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	position: absolute;
	left: -50px;
	top: 55px;
}

.wgo-player-top .wgo-comments-wrapper, .wgo-player-bottom .wgo-comments-wrapper {
	margin-top: 10px;
	height: 150px;
}

/* game info table */

.wgo-commentbox .wgo-info-list {
	display: table;
}

.wgo-commentbox .wgo-info-title {
	display: table-caption;
	font-weight: 600;
	border-bottom: 2px solid rgba(200, 200, 200, 0.3);
	padding: 2px 0;
}

.wgo-commentbox .wgo-info-item {
	display: table-row;
}

.wgo-commentbox .wgo-info-label, .wgo-commentbox .wgo-info-value {
	display: table-cell;
	border-bottom: 1px solid rgba(200, 200, 200, 0.3);
	padding: 2px 15px 2px 0;
}

.wgo-commentbox .wgo-info-label {
	color: #000;
}

.wgo-commentbox .wgo-info-value {
	color: #4c4c4c;
}

/* in gameinfo, last row is without border*/
.wgo-commentbox.wgo-gameinfo .wgo-info-item:last-child .wgo-info-label, .wgo-commentbox.wgo-gameinfo .wgo-info-item:last-child .wgo-info-value {
	border-bottom: 0;
}

/*--- /Comments box ----------------------------------------------------------------------*/

/*--- Control box ------------------------------------------------------------------------*/

.wgo-player-control {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.wgo-control-wrapper {
	width: 100%;
	text-align: center;
}

.wgo-ctrlgroup-left {
	float: left;
}

.wgo-ctrlgroup-right {
	float: right;
}

.wgo-ctrlgroup-control {
	margin: 0 auto;
}

/* button widget */

.wgo-button {
	border: 1px solid rgba(200,200,200,0.3);
	border-radius: 2px;
	background-color: rgba(255,255,255,0.3);
	width: 44px;
	height: 44px;
	margin: 0 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-position: 50% 50%;
	background-size: 32px;
	background-repeat: no-repeat;
}

.wgo-button:hover, .wgo-player-mn-value:focus {
	background-color: rgba(255,255,255,0.45);
	border: 1px solid rgba(100,100,100,0.3);
	box-shadow: 0 0 20px 0 rgba(150,150,150,0.5);
}

.wgo-button.wgo-selected {
	background-color: rgba(255,255,255,0.6);
	border: 1px solid rgba(0,0,0,0.5);
}

.wgo-button.wgo-selected:hover {
	background-color: rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,0.7);
}

.wgo-button.wgo-disabled, .wgo-button[disabled] {
	opacity: 0.5;
}

.wgo-button.wgo-disabled:hover, .wgo-button[disabled]:hover {
	border: 1px solid rgba(200,200,200,0.3);
	background-color: rgba(255,255,255,0.3);
	box-shadow: none;
}

.wgo-button:active {
	background-position: 65% 65%;
}

.wgo-button.wgo-disabled:active, .wgo-button[disabled]:active {
	background-position: 50% 50%;
}

.wgo-button-previous {
	background-image: url("modern-prev4.svg");
}
.wgo-button-next {
	background-image: url("modern-next4.svg");
}
.wgo-button-multiprev {
	background-image: url("modern-fprev4.svg");
}
.wgo-button-multinext {
	background-image: url("modern-fnext4.svg");
}
.wgo-button-first {
	background-image: url("modern-first4.svg");
}
.wgo-button-last {
	background-image: url("modern-last4.svg");
}
.wgo-button-menu {
	background-image: url("modern-menu4.svg");
}
.wgo-button-about {
	background-image: url("modern-info4.svg");
}

/* move number widget */

.wgo-player-mn-value {
	border: 1px solid rgba(200,200,200,0.3);
	border-radius: 2px;
	background-color: rgba(255,255,255,0.3);
	width: 28px;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	display: inline;
	position: relative;
	bottom: 15px;
	outline: 0;
}

.wgo-player-mn-wrapper {
	display: inline;
	width: 38px;
	text-align: center;
}

/* top and bottom modifications */

.wgo-player-top .wgo-player-control {
	padding-bottom: 5px;
}

.wgo-player-bottom .wgo-player-control {
	padding-top: 5px;
}

/*--- /Control box ------------------------------------------------------------------------*/

/*--- Control menu -------------------------------------------------------------------------*/

.wgo-player-menu {
	border-left: 1px solid rgba(0,0,0,0.5);
	border-right: 1px solid rgba(0,0,0,0.5);
	border-top: 1px solid rgba(0,0,0,0.5);
	z-index: 900;
	margin-top: -1px;
	box-shadow: 0 0 20px 0 rgba(127,127,127,0.5);
	font-weight: bold;
	color: #292929;
}

.wgo-menu-item {
	padding: 5px 10px 5px 30px;
	border-bottom: 1px solid rgba(127,127,127,0.5);
	background-color: rgba(255,255,255,0.85);
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
}

.wgo-menu-item:hover {
	background-color: rgba(225,225,225,0.85);
}

.wgo-menu-item.wgo-selected {
	background-image: url("checked.svg");
	color: #000;
}

.wgo-menu-item.wgo-disabled {
	color: #888;
	cursor: Default;
}

.wgo-menu-item.wgo-disabled:hover {
	background-color: rgba(255,255,255,0.85);
}

.wgo-menu-item:last-child {
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

/*--- /Control menu -------------------------------------------------------------------------*/

/*--- Overlay window ----------------------------------------------------------------------*/

.wgo-info-overlay {
	position: absolute;
	z-index: 1000;
}

.wgo-info-message {
	animation-name:show;
	animation-duration: 250ms;
	/* Firefox: */
	-moz-animation-name:show;
	-moz-animation-duration: 250ms;
	/* Safari and Chrome: */
	-webkit-animation-name:show;
	-webkit-animation-duration: 250ms;
	/* Opera: */
	-o-animation-name:show;
	-o-animation-duration: 250ms;

	margin: 15% auto;
	min-height: 50%;
	max-height: 70%;
	min-width: 50%;
	max-width: 70%;
	background-color: rgba(0,0,0,0.95);
	overflow: auto;
	padding: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	color: #d9d9d9;
	box-shadow: 0px 0px 50px 5px rgb(0,0,0);
	border: 1px solid #333;
	position: relative;
}

.wgo-info-message a {
	color: #fff !important;
}

.wgo-info-message h1 {
	font-size: 2em !important;
	color: #fff !important;
	font-weight: bold !important;
	margin: 0 0 20px 0 !important;
	padding: 0 !important;
}

.wgo-info-close {
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 10px;
}

/*--- /Overlay window ----------------------------------------------------------------------*/

/*--- Permalinks ---------------------------------------------------------------------------*/

input.wgo-permalink {
	padding: 7px 10px !important;
	border: 1px solid white !important;
	color: white !important;
	width: 100% !important;
	background-color: rgba(0,0,0,0) !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*--- /Permalinks ---------------------------------------------------------------------------*/

.wgo-400 .wgo-button-multiprev, 
.wgo-400 .wgo-button-multinext {
	display: none;
}

.wgo-300 .wgo-button-first, 
.wgo-300 .wgo-button-last {
	display: none;
}

