/* Customization of the documentation stylesheet */

h1 {
	margin-bottom: 30px;
}

section h2, section h3 {
	border-bottom: 1px solid #eeeeee;
}

h3 {
	font-size: 24px;
}

code, pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

h4.name {
	font-size: 20px;
}

h4.name:not(:first-of-type) {
	border-top: 1px solid #eeeeee;
	padding-top: 12px;
}

#main {
	width: 1250px;
	margin: auto;
	float: none;
}

#content {
	float: left;
	width: 75%;
}

nav {
	width: 25%;
}

section h1 {
	margin-left: 0;
}

section {
	padding-top: 0;
}

.subsection-title + h4.name {
	border-top: 0;
	padding-top: 0;
}

.description code, .class-description code {
    padding: 2px 6px;
    color: #ffffff;
    background-color: #444444;
    border-radius: 4px;
}

article dl.details {
    margin-bottom: 14px;
}

.details li, .details dt {
	line-height: 2;
	padding-top: 0;
}

@media (max-width: 1299px) {
	#main {
		width: auto;
	}
}